# Target architecture
CONFIG_IDF_TARGET="esp32c6"

# Wi-Fi SoftAP Support
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y

# FreeRTOS and Task configurations
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096

# LWIP Sockets & TCP configurations
CONFIG_LWIP_MAX_SOCKETS=10
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=8192
CONFIG_LWIP_TCP_WND_DEFAULT=8192
